
// Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$blue: rgb(37, 99, 235);
$white: rgb(255, 255, 255);
$black: rgb(51, 51, 51);

$input-box-shadow: inset 0 0 0 0 rgb(255, 255, 255), inset 0 0 0 1px rgb(209, 213, 219), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$input-focus-box-shadow: inset 0 0 0 0 rgb(255, 255, 255), inset 0 0 0 1px rgb(22, 119, 255), 0 0 0 0 rgb(255, 255, 255);
